*
!.gitignore

!include/
!include/utility/
!include/network/
!include/core/

!include/core.hpp
!include/utility.hpp

!include/core/compile_range.hpp
!include/core/network_types.hpp

!include/network/network.hpp
!include/network/activation.hpp

!include/utility/image_processing.hpp
!include/utility/tiny_imagenet_loader.hpp

!main.cpp