*
!.gitignore

!include/
!include/utility/
!include/network/
!include/core/
!include/core/helper
!include/core/learning
!include/core/types

!include/core.hpp
!include/network.hpp
!include/utility.hpp

!include/core/helper/add_tuple.hpp
!include/core/helper/compile_range.hpp
!include/core/helper/concepts.hpp
!include/core/helper/loop_unroll.hpp
!include/core/helper/split_tuple.hpp

!include/core/learning/activation.hpp
!include/core/learning/loss.hpp
!include/core/learning/optimization.hpp

!include/core/types/shapes.hpp
!include/core/types/types.hpp

!include/network/network_base.hpp

!include/utility/image_conversion.hpp
!include/utility/tiny_data_loader.hpp

!test/
!test/meson.build
!test/helper_test.cpp
!test/learning_test.cpp
!test/type_test.cpp

!main.cpp